.navbar-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: #ffffff88;
    backdrop-filter: blur(10px);
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    z-index: 100;
    border-radius: 12px 12px 0 0;
}

.navbar-bottom a {
    display: flex;
    color: var(--muted-text-color);
    text-decoration: none;
    font-size: 1.1rem;
    padding: 12px 12px;
    border-radius: 50px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.navbar-bottom a.active,
.navbar-bottom a:hover {
    color: var(--primary-color);
    background-color: #ffffff;
}